body {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.6;
	background: #f2f2f2;
	color: #444444;
	text-align: center;
}

header {
	margin-top: 20px;
	margin-bottom: 60px;
	margin-left: 15%;
	margin-right: 15%;
	padding: 20px;
	text-align: center;
	border-bottom: 2px solid #ddd;
}

header h1 {
	margin-left: auto;
	margin-right: auto;
	font-size: 2.5em;
	white-space: nowrap;
}

a {
	color: #0077cc;
	text-decoration: none;
	white-space: nowrap;
}

nav {
	display: flex;
	align-items: center;
    justify-content: center;
    max-width: min-content;
	/* evtl max-width: 1000px; wenn es zu breit wird */
	margin: 20px 0;
	margin-left: auto;
	margin-right: auto;
}

nav a {
	padding: 10px;
	margin: 0 15px;
	font-size: 1.2em;
	position: relative;
	min-width: min-content;
	max-width: 300px;
	width: 300px;
	
}

nav a.selected {
	background: #e9e9e9;
	border-radius: 10px;
}


nav a.option::after {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	background: #0077cc;
	transition: width 0.3s;
	position: absolute;
	bottom: -5px;
}

#left::after {
	right: 0;
}

#center::after {
	left: 50%;
	transform: translateX(-50%);
}

#right::after {
	left: 0;
}

nav a.option:hover::after {
	width: 100%;
}





/* Basislayout */
.main-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Hamburger-Menü Button (nur bei kleiner Breite sichtbar) */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
}

/* Ab 1000px oder kleiner: Menü kollabiert */
@media (max-width: 1000px) {
  
}







.container {
	padding: 20px;
	max-width: 1200px;
	margin: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.grid img {
	width: 100%;
	border: 5px solid #eee;
	border-radius: 10px;
	transition: transform 0.3s, box-shadow 0.3s;
	cursor: pointer;
}

.grid img:hover {
	transform: scale(1.05);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}






/* Lightbox */

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	border-radius: 10px;
}

.lightbox:target {
	display: flex;
}

.lightbox-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1; /* Muss unter dem Bild liegen */
	cursor: default;
}

.lightbox img,
.lightbox .prev,
.lightbox .next,
.lightbox .close {
	z-index: 2;
	position: relative;
}

.lightbox a.close,
.lightbox a.prev,
.lightbox a.next {
	position: absolute;
	color: #444;
	font-size: 3.5em;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	transition: background 0.3s;
}

.lightbox a.prev:hover,
.lightbox a.next:hover {
	background: rgba(200, 200, 200, 0.9);
}

.lightbox a.close {
	top: 93%;
}

.lightbox a.prev {
	top: 93%;
	left: 40%;
}

.lightbox a.next {
	top: 93%;
	right: 40%;
}



/* Flex elements of about section and pgp key */

.pgp-container {
    display: flex;
    justify-content: center;
	align-items: center;
    max-width: 70%;
    margin-left: auto;
	margin-right: auto;
}

.pgp-left {
    padding-right: 50px;
}

.pgp-right {
    padding-left: 50px;
	border-left: 1px solid #444444;
}

.about-container {
    display: flex;
    justify-content: center;
	align-items: center;
    max-width: 70%;
	margin-left: auto;
	margin-right: auto;

}

.about-left {
    padding-right: 50px;
}

.about-right {
    padding-left: 50px;
	border-left: 1px solid #444444;
}




button {
	background: #0077cc;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
	transition: background 0.3s, transform 0.3s;
}

button:hover {
	background: #005fa3;
	transform: scale(1.05);
}

button:active {
	transform: scale(0.95);
}









/* Screen size adaptation */

@media (max-width: 850px) {
    .about-container {
        flex-direction: column;
    }

    .about-left {
        padding-right: 30px;
		padding-left: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #444444;
    }

    .about-right {
        padding-left: 0;
		padding-top: 20px;
        border-left: none;
		
    }
}


@media (max-width: 750px) {
	nav {
		flex-direction: column;
	}
	nav a {
		max-width: 200px;
		margin-bottom: 20px;
	}
	.main-nav {
		display: none;
		flex-direction: column;
		background-color: #f4f4f4;
		padding: 1rem;
	}
	.nav-toggle-label {
		display: block;
	}
	
	/* Wenn Checkbox gecheckt ist → Menü zeigen */
  	.nav-toggle:checked + .nav-toggle-label + .main-nav {
    	display: flex;
	}
	#left::after {
		left: 50%;
		transform: translateX(-50%);
	}

	#right::after {
		left: 50%;
		transform: translateX(-50%);
	}
}


@media (max-width: 600px) {
    .pgp-container {
        flex-direction: column;
    }

    .pgp-left {
        padding-right: 0;
		padding-bottom: 20px;
    }

    .pgp-right {
        padding-left: 0;
		padding-top: 20px;
        border-left: none;
		border-top: 1px solid #444444;
    }
}

@media (max-width: 430px) {
	nav a {
		max-width: 70%;
	}
}